@header-height: 50px;
.site-header{
	background-color: @white;
	margin-bottom: 60px;
	border-bottom: 1px solid #eee;
	@media (min-width: @screen-sm-min) {
		margin-bottom: 120px;
	}
	.gnb-desktop{
		padding-top: 16px;
		padding-bottom: 15px;
		.menu-global{
			overflow: hidden;
			margin: 0;
			float: left;
			>li{
				float: left;
				margin-left: 77px;
				a{
					color: @white;
					font-weight: 400;
					font-size: 15px;
					color:#333;
					.transition(all .15s ease-out);
					&:hover{
						.opacity(.4);
					}
				}
			}
			.current-menu-item a{
				.opacity(.4);
			}
		}
		.menu-external{
			float: right;
			overflow: hidden;
			margin: 0;
			>li{
				float: left;
				margin-left: 20px;
				a{
					.font-size(13);
					color:#666;
				}
			}
		}
		.site-title{
			width: 12px;
			float: left;
		}
	}
}
